@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');

$button-color: #3273DC;
$nav-color: #00D1B2;
$nav-font: 'Pontano Sans', sans-serif;

body {
  padding: 0;
}

.button-main {
  background-color: $button-color;
  border-radius: 0 3px 3px 0 !important;
  color: white;
}

.navbar {
  background-color: $nav-color;
  font-family: $nav-font;
  padding: 0 0 0 1em;

}

.navbar-nav {
  font-size: small;
}

.search {
  margin: 3em auto;
}
